@import url('https://fonts.googleapis.com/css?family=Roboto');
.index_canvas_container{
    width:99vw;
    margin: auto;
    height:93vh;
    margin-top: 3px;
    background-color: black;
    

}
#index_canvas{
    
    width:100%;
    height:100%;
    background-color: transparent;
}
footer{
   display: flex;
   flex-direction: column;
    height:300px;
   
}
.image_container{
    display:grid;
    border:1px solid gray;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows:1fr;
 
 height:210px;
}
footer > h3{
    text-align: center;
    text-decoration: underline;
    
}

.box1,.box2,.box3,.box4,.box5,.box6{
  
    margin-left: 10px;
    border-radius: 10px;
}
.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover{
    transform: scale(1.2);
    border: 1px solid whitesmoke;
}
footer{
    
}
.image_container{
    
    width:94vw;
    margin: 0 auto;
    padding:10px;
    border-radius: 10px;
    background-color: #212121;
   
}

.box1{
    background-image: url("./1.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.box2{
    background-image: url("./2.jpg");
    background-position:center;
    background-size: cover;
}
.box3{
    background-image: url("./3.jpg");
    background-position:center;
    background-size: cover;
}


