
/* here you can change the width + the height*/

.backdrop, #myTextArea {
    font: 12px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    width: 230px;
    height: 330px;
    background-color:  #1f1f1f ;
    padding-left : 5px;
  color: #ccc;
    font-size:  15px;
 
  

  }
  
  #myTextArea {
    margin: 0;
    position: absolute;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
    caret-color: #555555;
    z-index: 2;
    resize: none;
 
 
}
  .backdrop {
   position: absolute;
    z-index: 1;
    border: none;
    overflow: auto;
    pointer-events: none;

  }
  
  .custom-area {
    white-space: pre-wrap;
    word-wrap: break-word;

   
  }

  .registers{
      color : red;
  }

/* change les bordure de barre de lignes*/

.list{
  background-color: rgb(200, 27, 85);
  height: 330px;
  width: 50px;
  border:1px solid red;
  text-align: : center;
   resize: none;
   overflow: hidden;
   font: 12px 'Open Sans', sans-serif;
    letter-spacing: 1px;
}



.re{
 color: #9fb727
}


.dir{
  color: #cc7832;
}

.ins{
  color: #4d896e;
}

.digit{
  color : #8679e1;
}

.comments{
  color: #808080
}

.strings{;
  color: #bfbc68;
}
.code{
  background-color: red;
  padding: 3px;
  
}
main{
  display: flex;
  flex-wrap: wrap;
 
}

/* ici tu peux manipulr la position de text area comme tu veux*/
.template{
  display: flex;
 margin:  150px 30px 0 100px;
}


.highliting{
  
  background-color: rgba(214,0,0,0.6)
}


.accolade{
  color: red;
}
