
.modal-header{
    height:7px;
    background-color: #212121;

}
.modal-body
{
    background-color: #212121;
}
body{
    display: flex;
    flex-direction: row;
}
#code{
    height:58vh;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 5px;
   
    width:325px;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
 

}
#myTextArea{
    /* height:95%;
    width: 100%;
    background-color: #212121;
    color: white;
    font-size: 20px;
    text-indent: 0px;
    padding: 13px; */
    

}
.box{
    height:80vh;
    min-height: 80vh;
    margin-top:100px;
    border-radius:10px;
    width:35vw;
    min-width: 450px;
    border: 1px solid #6d6d6d;
    background-color: #212121;
    margin-left: 10px;
 

}

.box_ram{
   
  
}

body > div > div > div.col-8.h-100 > div > div.row-1.dialog_box_btns > button:nth-child(n)
{

    border-radius: 10px;
    margin-left: 0px;
    padding:10px 5px;
    font-variant: small-caps;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 6px;
}
body > div > div > div.col-8.h-100 > div > div.row-1.control_box > button:nth-child(n)
{
    margin-top: 6px;
    border-radius: 10px;
    margin-left: 3px;
    padding: 4px;
    font-variant: small-caps;
    font-weight: 400;
    
   
   
}

.box_reg
{
    margin-top:10px;
    margin-right: 0;
    height:95%;
    margin-left: 10px;
    /* min-width: 150px; */
    border-radius: 10px;
    border: 2px solid #6d6d6d;
    overflow-y: auto;
    overflow-x: none;

}
.box_reg_all{
    
}
.box_reg_unit{
   margin-left: 10px;
    /* border:1px solid red; */
    font-weight: bold;
    margin-top: 5px;
}
body > div > div > div.col-2.h-100 > div > div:nth-child(1) /*the ax unit box*/
{
    margin-top:10px;
}
.label_reg{
    margin-right:3px;
}
.label_reg_main{
 
  display: flex;
  justify-content: center;
}

.scroll_it{
    overflow: scroll;
    height:69%;
    margin-top: 0;
    overflow-x: auto;
   
    margin-bottom: 0;

  
}
.scroll_it_stack{
    overflow: scroll;
    height:70vh;
   
  
}
.scroll_it_states{
    overflow-x: scroll;
   

  
}
.box_ram{
   
    padding: 0;
    margin: 0;
}
.td_ram
{
   
   /***/
}

.tr_ram{
    font-weight: bold;
    color:white;
    /* border: 1px solid  #14ffec; */
}
body{
    background-color:#323232;
    color:white;
}
input{
    border:1px solid rgb(39, 39, 39);
    border-radius:6px;
    font-weight: bold;
    padding-left:5px;
    min-width: 30px;
}
.control_box{
  
    display: flex;
   
    justify-content: flex-start;
   margin-bottom: 3px;

   
    
}
.dialog_box_btns{
   
    display: flex;
   
    justify-content: flex-start;
}
.search_box{
    display: flex;
    justify-content: center;
  
}
.search_box input{
  width:50%;
  display: flex;
 padding-left: 30px;
 background-color: transparent;
 border: 1px solid #6d6d6d;
 color:aliceblue;
  
}
/************************************************/
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }
  @media only screen and (min-width: 595px) {
    body > div > div > div.col-8.h-100 > div > div.row-1.dialog_box_btns > button:nth-child(n) {
     padding: 17px 5px;
    
    
    }
  }
  #canvas_console{
    
   
   
    
  }
  #canvas_wrapper{
    margin-top: 100px;
  }
  #canvas_wrapper:hover{
    border: none;
  }
  .highliting{
      background-color:	rgba(255, 0, 0, 0.253);
  }
  .td_state{
      pointer-events: all;
  }
  .tr_stack_1{
     border-top: 1px solid green;
  }
  .tr_stack_2{
    background-color: rgb(7, 124, 66);
}
