* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    /*background: rgb(200,80,192);
    background: linear-gradient(-135deg, rgba(200,80,192,1) 35%, rgba(65,88,208,1) 100%);*/ 
    background: #34495e;
}

.main-container {

    width: 50%; 
    height: 400px; 
    margin: 150px auto; 
    background:#fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-cont img {
    
    margin-left: -10px;
}
.form-cont {

    margin-left: 30px;
}

.form-cont input {

    margin: 10px 0px 10px 0px;
    height: 45px;
    border: none; 
    outline: none;
    background: #e6e6e6;
    color: #666;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 30px;
    margin-left: 30px;
    width: 250px;
    font-weight: 500;
}

h1 {
    font-weight: 600 !important;
    font-size: 22px !important;
    margin-bottom: 20px;

}

button {

    border: none; 
    outline: none;
    color: #fff; 
    background: #57b846;
    height: 40px; 
    width: 150px; 
    margin-left: 28%;
    margin-top: 10px; 
    border-radius: 30px;
}