/* here you can change the width + the height*/

.backdrop, #myTextArea {
  font: 12px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  width:300px;
  height: 330px;
  background-color:  #1f1f1f ;
  padding-left : 5px;
color: #ccc;
  font-size:  16px;



}

.list {
  font-weight: 900;
  font-size: 20px;

}

#myTextArea {
  margin: 0;
  position: absolute;
  border-radius: 0;
  background-color: transparent;
  color: transparent;
  caret-color: #555555;
  z-index: 2;
  resize: none;


}
.backdrop {
 position: absolute;
  z-index: 1;
  border: none;
  overflow: auto;
  pointer-events: none;

}

.custom-area {
  white-space: pre-wrap;
  word-wrap: break-word;

 
}

.registers{
    color : red;
}

/* change les bordure de barre de lignes*/

.list{
background-color: #629755;
height: 330px;
width: 30px;
text-align: center;
 resize: none;
 overflow: hidden;
 font: 16px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}



.re{
  color: #9fb727
 }
 
 
 .dir{
   color: #cc7832;
 }
 
 .ins{
   color: #4d896e;
 }
 
 .digit{
   color : #8679e1;
 }
 
 .comments{
   color: #808080
 }
 
 .strings{
   color: #bfbc68;
 }
.code{
background-color: red;
padding: 3px;

}
main{
display: flex;
flex-wrap: wrap;

}

/* ici tu peux manipulr la position de text area comme tu veux*/
.template{

margin:  0px 30px 0 0px;

}



