{% load static %}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" lang="en">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/adminlogin.css' %}" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,800;1,100;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>

    <div class="main-container">
        <div class="image-cont">
            <img src="{% static 'images/img-01.webp' %}" alt="img">
        </div>
        <div class="form-cont">
            <h1 class="text-center"> Teacher Login</h1>
            <form method="POST" action="">

                {% csrf_token %}
                <input name='admin-name' type="text" placeholder="Username"><br>
                <input name='admin-pass' type="password" placeholder="Password"><br>
                <button type="submit">Login</button>

            </form>
        </div>
    </div>  
    
</body>
</html>