{% load static %}

<!DOCTYPE html>
<html>

<head>

</head>
<body>

    <p> welcome admin</p>
    <form action = "{% url 'dashboard' %}" method="POST">

        {% csrf_token %}

        {{ create_test_form.as_p }}
        <input name="subm-value" type="submit" value="Create Test">

    </form>

    <form action="{% url 'logout' %}" method="POST">

        {% csrf_token %}
        <input type="submit" value="Logout">

    </form>

    <form action="{% url 'dashboard' %}" method="POST">

        {% csrf_token %}
        {{ stop_test_form.as_p }}
        <input name ="delete" type="submit" value="Delete test">

    </form>

    
</body>
</html>