{% load static %}
<!DOCTYPE html>

<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" lang="en">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/alltests.css' %}" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,800;1,100;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>

	<div class="tests-table">
		<table>
			<thead>
				<tr class="table-head row">

					<th> Test ID </th>
					<th> Test Duration</th>
					<th> Date</th>

				</tr>

				{% for test in tests %}
					<tr class="row switch-background">
						<th> <p class="tobe-shifted-little text-center"><a href="{% url 'display_students' test.id %}">Test  {{ test.test_id }}</a></p> </th>
						<th> <p class="tobe-shifted text-center">{{ test.duration }} </p></th>
						<th> <p class="tobe-shifted text-center"> {{ test.starting_time }} </p></th>
					</tr>
				{% endfor %}
			</thead>
		</table>
	</div>	


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/alltests.js' %}"></script>
</body>	


</html>