{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emu8086</title>
    <link rel="stylesheet" href="{% static 'css/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'css/monokai.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
</head>

<body>
  <header class="row-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Vgath 8086</a>
          <ul class="navbar-nav me-auto mb-1 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home_page' %}">Emulator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'send_test_page' %}">Sending Tests</a>
            </li>
            
          </ul>
         
        </div>
      </div>
    </nav>
  </header>
 



  <div class="d-flex justify-content-center " >
    <div class="spinner-border text-secondary" role="status" style="width: 35rem; height: 35rem;" id="spinner_loader">
     
    </div>
  </div>



<div class="content row-11">
    <div class=" box " id="ram_container">
      <div class="row h-100">
        <div class="col-4 h-100 box_reg_all"  >
          <div class="box_reg ">
            <div class="row-1 box_reg_unit ">
              <div class="col-2  " class="label_reg_main" >
                
                <label >__Registers__</label>
              </div>
              
           </div>
              <div class="row-1 box_reg_unit ">
                 <label class="col-2 label_reg">AX</label>
                 <input type="text" class="col-3" id="ah">
                 <input type="text" class="col-3" id="al">
              </div>
              <div class="row-1 box_reg_unit ">
                <label class="col-2 label_reg">BX</label>
                <input type="text" class="col-3" id="bh">
                <input type="text" class="col-3" id="bl">
             </div>
             <div class="row-1 box_reg_unit ">
              <label class="col-2 label_reg">CX</label>
              <input type="text" class="col-3" id="ch">
              <input type="text" class="col-3" id="cl">
           </div>
           <div class="row-1 box_reg_unit ">
            <label class="col-2 label_reg">DX</label>
            <input type="text" class="col-3" id="dh">
            <input type="text" class="col-3" id="dl">
         </div>
          <div class="row-1 box_reg_unit ">
            <label class="col-2 label_reg">CS</label>
            <input type="text" class="col-3" id="cs_h">
            <input type="text" class="col-3" id="cs_l">
          </div>
          <div class="row-1 box_reg_unit ">
          <label class="col-2 label_reg">IP</label>
          <input type="text" class="col-3" id="ip_h">
          <input type="text" class="col-3" id="ip_l">
        </div>
        <div class="row-1 box_reg_unit ">
          <label class="col-2 label_reg">SS</label>
          <input type="text" class="col-3" id="ss_h">
          <input type="text" class="col-3" id="ss_l">
        </div>
        <div class="row-1 box_reg_unit ">
        <label class="col-2 label_reg">SP</label>
        <input type="text" class="col-3" id="sp_h">
        <input type="text" class="col-3" id="sp_l">
      </div>
      <div class="row-1 box_reg_unit ">
        <label class="col-2 label_reg" >BP</label>
        <input type="text" class="col-3" id="bp_h">
        <input type="text" class="col-3" id="bp_l">
      </div>
      <div class="row-1 box_reg_unit ">
        <label class="col-2 label_reg">SI</label>
        <input type="text" class="col-3" id="si_h">
        <input type="text" class="col-3" id="si_l">
      </div>
      <div class="row-1 box_reg_unit ">
        <label class="col-2 label_reg">DI</label>
        <input type="text" class="col-3" id="di_h">
        <input type="text" class="col-3" id="di_l">
      </div>
      <div class="row-1 box_reg_unit ">
        <label class="col-2 label_reg">DS</label>
        <input type="text" class="col-3" id="ds_h">
        <input type="text" class="col-3" id="ds_l">
      </div>
      <div class="row-1 box_reg_unit ">
        <label class="col-2 label_reg">ES</label>
        <input type="text" class="col-3" id="es_h">
        <input type="text" class="col-3" id="es_l">
      </div>

          </div>
        </div>
        <!--the ram column------------------------------------------------->
        <div class=" col-8  h-100" >
          <div class="box_ram h-100">
          
           
            <div class="row-1 control_box">
              <button class="btn btn-success" id="reload_btn">reload</button>
              <button class="btn btn-secondary" onclick="stepBackHandler()">step back</button>
              <button class="btn btn-secondary" onClick="singleStepHandler()">single step</button>
              <button class="btn btn-success"  onclick="runHandler()">run</button>
           </div>
          <div class="row-1 search_box">
          <input  id="input_search" placeholder="0000:0000">
            </div>
            <!--table------------------->
            <div class="scroll_it row-9">
              <table class="table  table-bordered table-hover table-dark" id="table_ram" >
                
                <thead  style="color: white;border-bottom:#6d6d6d" id="table_header">
                  <tr >
                    <th scope="col-6">Adresse</th>
                    <th scope="col-6">val_Base16</th>
                    <th scope="col-6">val_ascii</th>

                  </tr>
                </thead>
                <tbody >
                  <!--the trs-->
                  <!--the trs-->
                </tbody>
              </table>
            </div>
             <!--table------------------->
            
             <div class="row-1 dialog_box_btns">
              <button class="btn btn-success" click="modal_stack" data-bs-toggle="modal" data-bs-target="#modal_stack">stack</button>
              <button class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#modal_flags" >flags</button>
              
              <button class="btn btn-dark"   id="console_btn" data-bs-toggle="modal" data-bs-target="#modal_states" >States</button>
              <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#modal_variables">vars </button>
           </div>

          </div>
         
        </div>
        </div>
            </div>
 <!--the text area--------------------------------------------------------------->
 <div id="code"  >
   <div id="textArea" style="font-size: large;" class="row-10">

   </div>
   <div class="row-2">
    <button id="code_compile_btn"  class="col-4 btn btn-dark" >
      compile
    </button>
  
  
   </div>
  
 
 </div>
  <!--canvas-------------------------------------------------------------------------------->
  <div id="canvas_wrapper">
    <canvas tabindex='1' style="background-color: black; width:500px;height:100%;" id="canvas_console"></canvas>
  </div>
 
  <!--canvas-------------------------------------------------------------------------------->
 

 
 <!--the text area--------------------------------------------------------------->
 
 <!--modal_flags------------------------------------------------------------------------>
 <div id="s">

 </div>
 <div class="modal fade" id="modal_flags" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Flags</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <table class="table  table-bordered table-hover table-dark"  >
                
          <thead  style="color: white;border-bottom:#6d6d6d">
            <tr >
              <th scope="col-6">O</th>
              <th scope="col-6">D</th>
              <th scope="col-6">I</th>
              <th scope="col-6">T</th>
              <th scope="col-6">S</th>
              <th scope="col-6">Z</th>
              <th scope="col-6">A</th>
              <th scope="col-6">P</th>
              <th scope="col-6">C</th>
        
            </tr>
            <thead  style="color: white;border-bottom:#6d6d6d" >
              <tr >
                <th scope="col-6" id="flag_O">&nbsp;</th>
                <th scope="col-6" id="flag_D">&nbsp;</th>
                <th scope="col-6" id="flag_I">&nbsp;</th>
                <th scope="col-6" id="flag_T">&nbsp;</th>
                <th scope="col-6" id="flag_S">&nbsp;</th>
                <th scope="col-6" id="flag_Z">&nbsp;</th>
                <th scope="col-6" id="flag_A">&nbsp;</th>
                <th scope="col-6" id="flag_P">&nbsp;</th>
                <th scope="col-6" id="flag_C">&nbsp;</th>
               
          
              </tr>
          </thead>
          <tbody >
            <!--the trs-->
            <!--the trs-->
          </tbody>
        </table>
      </div>
    
    </div>
  </div>
</div>

 <!--modal_flags------------------------------------------------------------------------>

<!--modal_states------------------------------------------------------------------------>

<div class="modal fade" id="modal_states" tabindex="-1" aria-labelledby="statesModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="statesModalLabel">states table</h5>
       <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" ></button>
     </div>
     <div class="modal-body scroll_it_states" >
       <table class="table  table-bordered table-hover table-dark"  >
        <thead  style="color: white;border-bottom:#6d6d6d" >
          <tr id="states_index_tr">
           <td scope="col-3" >States:</th>
          
          </tr>
      </thead>
        <thead  style="color: white;border-bottom:#6d6d6d" >
          <tr id="states_addresse_tr">
           <td scope="col-3" >adresse:</th>
          
          </tr>
      </thead>
         <thead  style="color: white;border-bottom:#6d6d6d">
           <tr id="states_prevVal_tr">
             <td>previous value:</td>
           </tr>
           <thead  style="color: white;border-bottom:#6d6d6d" >
             <tr id="states_newVal_tr">
              <td scope="col-3">new value:</th>
             </tr>
         </thead>
         <tbody >
           <!--the trs-->
           <!--the trs-->
         </tbody>
       </table>
     </div>
   
   </div>
 </div>
</div>

<!--modal_states------------------------------------------------------------------------>
<!--modal_stack------------------------------------------------------------------------>

<div class="modal fade" id="modal_stack" tabindex="-1" aria-labelledby="statesModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statesModalLabel">stack table</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body scroll_it_stack" >
        <table class="table   table-dark"  id="table_stack" >
          <thead  style="color: white;border-bottom:#6d6d6d" id="table_header">
            <tr >
              <th scope="col-6">Adresse</th>
              <th scope="col-6">val_Base16</th>
              <th scope="col-6">val_ascii</th>

            </tr>
          </thead>
          <tbody >
            <!--the trs-->
                
             
           

            <!--the trs-->
          </tbody>
        </table>
      </div>
    
    </div>
  </div>
 </div>
</div>
 <!--modal_stack------------------------------------------------------------------------>
 <!--modal_variables------------------------------------------------------------------------>

<div class="modal fade" id="modal_variables" tabindex="-1" aria-labelledby="statesModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statesModalLabel">variable table</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body scroll_it_stack" >
        <table class="table   table-dark"  id="table_variables" >
          <thead  style="color: white;border-bottom:#6d6d6d" id="table_header">
            <tr >
              <th scope="col-6">Name:</th>
              <th scope="col-6">Adresse</th>
              <th scope="col-6">val_Base16</th>
              <th scope="col-6">Ascii:</th>
            </tr>
          </thead>
          <tbody >
            <!--the trs-->
                
             
           

            <!--the trs-->
          </tbody>
        </table>
      </div>
    
    </div>
  </div>
 </div>
 
 <!--modal_stack------------------------------------------------------------------------>
 <!--scripts------------------------------------------------------------------------------------------------>
    <script src="{% static 'js/codemirror.js' %}"></script>
    <script src="{% static 'js/simple.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/ConsoleW.js' %}"></script>
    <script src="{% static 'js/Emulator/OPCODES.js' %}"></script>
    <script src="{% static 'js/Emulator/Memory.js' %}"></script>
    <script src="{% static 'js/Emulator/Registers.js' %}"></script>
    <script src="{% static 'js/Emulator/processor.js' %}"> </script>
    <script src="{% static 'js/Compiler/ASMEncoder.js' %}"> </script>
    <script src="{% static 'js/Compiler/LexicalAnalysis.js' %}"> </script>
    <script src="{% static 'js/Compiler/Linkage.js' %}"> </script>
    <script src="{% static 'js/Compiler/Preprocessor.js' %}"> </script>
    <script src="{% static 'js/Compiler/SynthaxeAnalysis.js' %}"> </script>
    <script src="{% static 'js/Compiler/Compilater.js' %}"> </script>
   
   
      
  
      
    
    <script>
      
        
     CodeMirror.defineSimpleMode('asm86',{
            start:[
            {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string"},
            {regex: /'(?:[^\\]|\\.)*?(?:'|$)/, token: "string"},
                
                {regex: /REP[\t\s]+(MOVS|CMPS|SCAS|LODS|STOS)(b|w)\b/i, token: 'builtin'}, //instrcution

                {regex: /[\s\t]*(add|adc|inc|sub|sbb|dec|neg|cmp|mul|imul|div|idiv|cbw|cwd|not|mov|push|pop|xchg|pushf|popf|SHL|SAL|SHR|SAR|ROL|ROR|RCL|RCR|AND|OR|TEST|XOR|REP|(MOVS|CMPS|SCAS|LODS|STOS)(b|w)|CALL|JMP|RET|JE|JZ|JL|JNGE|JLE|JNG|JB|JNAE|JBE|JNA|JP|JPE|JO|JS|JNE|JNZ|JNL|JGE|JNLE|JG|JNB|JAE|JNBE|JA|JNP|JPO|JNO|JNS|LOOP|LOOPZ|LOOPE|LOOPNZ|LOOPNE|INT|CLC|CMC|STC|CLD|STD)\b/i, token: 'builtin', sol: true},                      //instrcution

                

                {regex: /[a-z][a-z0-9]*\s*\:/i, token: 'link', indent: true},    //label
                {regex: /[\s\t]*(org|endp|endm|proc)\b/i, token: 'tag', sol: true},
                {regex: /[\s\t]+(offset|macro|db|dw)\b/i, token: 'tag'},     //prep
                {regex: /,(offset|macro|db|dw)\b/i, token: 'tag'},     //prep

                {regex: /[\s\t]+(ax|bx|cx|dx|si|di|bp|sp)\b/i, token: 'def'},         //REG 16
                {regex: /[\s\t]+(al|bl|cl|dl|ah|bh|ch|dh)\b/i, token: 'def'},  //REG  8
                {regex: /[\s\t]+(cs|ds|es|ss)\b/i, token: 'property'},                //REG SEG

                {regex: /,(ax|bx|cx|dx|si|di|bp|sp)\b/i, token: 'def'},         //REG 16
                {regex: /,(al|bl|cl|dl|ah|bh|ch|dh)\b/i, token: 'def'},  //REG  8
                {regex: /,(cs|ds|es|ss)\b/i, token: 'property'},                //REG SEG

                {regex: /[\s\t]*(ax|bx|cx|dx|si|di|bp|sp)\b/i, token: 'def', sol:true},         //REG 16
                {regex: /[\s\t]*(al|bl|cl|dl|ah|bh|ch|dh)\b/i, token: 'def', sol:true},  //REG  8
                {regex: /[\s\t]*(cs|ds|es|ss)\b/i, token: 'property', sol:true},                //REG SEG
                
                {regex: /[-+\/*=<>![\]:]+/, token: "tag"},
                {regex: /;.*/, token: "comment"},

                {regex: /^(\s+|,|\b)(0x[0-9]+[0-9a-f]*h*|(0x)*[0-9]+[0-9a-f]*h|[0-9]+)\b/i, token: 'number'}   //NB
            ],


            meta: {
                lineComment: ";"
            }

        });
      var codeMirror = CodeMirror(document.getElementById('textArea'), {
          value: '\norg 0h \n\nret\n',
          mode: 'asm86',
          theme: 'monokai',
          smartIndent: false,
          lineNumbers: true,
          indentWithTabs: true,

          readOnly: false
      });
      


      
  </script>
     <script src="{% static 'js/display.js' %}"></script>
   
</body>
</html>
