
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
          <link rel="stylesheet" href="{% static 'css/codemirror.css' %}">
          <link rel="stylesheet" href="{% static 'css/monokai.css' %}">
          <link rel="stylesheet" href="{% static 'css/liveManger.css' %}">
    <!--Styling the logout button since i can't override the main css file-->
    <style>
        #logout-btn {
          border: none; 
          outline: none;
          color: rgba(255, 255, 255, 0.6);
          background: transparent;
        }
    </style>
    
</head>
<body>
    
     <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

	<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="index.html" class="logo">8086 IDE</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          
          <li>
            <a href="{% url 'see_all_tests' %}"><span class="fa fa-bookmark mr-3"></span> Tests</a>
          </li>
          <li>
            <a href="{% url 'create_test' %}"><span class="fa fa-paper-plane mr-3"></span> Create Test</a>
          </li>
          
          <li>
            <form class="logout" action="{% url 'dashboard' %}" method="POST">
              
              {% csrf_token %}
              <a href="#"><button id="logout-btn" type="submit"><span class="fa fa-sign-out mr-3"></span>Logout</button></a>
            </form>
          </li>
              <li>
            <a href="live"><span class="fa fa-paper-plane mr-3"></span> live </a>
          </li>

          <li>
            <a href="{% url 'home_page' %}"><span class="fa fa-laptop-code mr-3"></span>Emulator</a>
          </li>
         
          
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        
        
        <div id="livearea" class="row row-cols-1 row-cols-md-3 g-4"></div>
          <footer>
               <select id="groups" name="groups" default="All">
                    <option>All</option>
               </select>
               <button id="onOff" value="diconnect">disconnect</button>
               

          </footer>
  
       </div>
     </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/liveManger.js' %}"></script>
    <script src="{% static 'js/codemirror.js' %}"></script>
    <script src="{% static 'js/simple.js' %}"></script>
    <script src="{% static 'css/bs5/js/bootstrap.js' %}"></script>
      <script>
      
        
        
     CodeMirror.defineSimpleMode('asm86',{
            start:[
            {regex: /"(?:[^\\]|\\.)*?(?:"|$)/, token: "string"},
            {regex: /'(?:[^\\]|\\.)*?(?:'|$)/, token: "string"},
                
                {regex: /REP[\t\s]+(MOVS|CMPS|SCAS|LODS|STOS)(b|w)\b/i, token: 'builtin'}, //instrcution

                {regex: /[\s\t]*(add|adc|inc|sub|sbb|dec|neg|cmp|mul|imul|div|idiv|cbw|cwd|not|mov|push|pop|xchg|pushf|popf|SHL|SAL|SHR|SAR|ROL|ROR|RCL|RCR|AND|OR|TEST|XOR|REP|(MOVS|CMPS|SCAS|LODS|STOS)(b|w)|CALL|JMP|RET|JE|JZ|JL|JNGE|JLE|JNG|JB|JNAE|JBE|JNA|JP|JPE|JO|JS|JNE|JNZ|JNL|JGE|JNLE|JG|JNB|JAE|JNBE|JA|JNP|JPO|JNO|JNS|LOOP|LOOPZ|LOOPE|LOOPNZ|LOOPNE|INT|CLC|CMC|STC|CLD|STD)\b/i, token: 'builtin', sol: true},                      //instrcution

                

                {regex: /[a-z_][a-z0-9_°]*\s*\:/i, token: 'link', indent: true},    //label
                {regex: /[\s\t]*(org|endp|endm|proc)\b/i, token: 'tag', sol: true},
                {regex: /[\s\t]+(offset|macro|db|du|dw)\b/i, token: 'tag'},     //prep
                {regex: /,(offset|macro|db|du|dw)\b/i, token: 'tag'},     //prep

                {regex: /[\s\t]+(ax|bx|cx|dx|si|di|bp|sp)\b/i, token: 'def'},         //REG 16
                {regex: /[\s\t]+(al|bl|cl|dl|ah|bh|ch|dh)\b/i, token: 'def'},  //REG  8
                {regex: /[\s\t]+(cs|ds|es|ss)\b/i, token: 'property'},                //REG SEG

                {regex: /,(ax|bx|cx|dx|si|di|bp|sp)\b/i, token: 'def'},         //REG 16
                {regex: /,(al|bl|cl|dl|ah|bh|ch|dh)\b/i, token: 'def'},  //REG  8
                {regex: /,(cs|ds|es|ss)\b/i, token: 'property'},                //REG SEG

                {regex: /[\s\t]*(ax|bx|cx|dx|si|di|bp|sp)\b/i, token: 'def', sol:true},         //REG 16
                {regex: /[\s\t]*(al|bl|cl|dl|ah|bh|ch|dh)\b/i, token: 'def', sol:true},  //REG  8
                {regex: /[\s\t]*(cs|ds|es|ss)\b/i, token: 'property', sol:true},                //REG SEG
                
                {regex: /[-+\/*=<>![\]:]+/, token: "tag"},
                {regex: /;.*/, token: "comment"},

                {regex: /^(\s+|,|\b)(0x[0-9]+[0-9a-f]*h*|(0x)*[0-9]+[0-9a-f]*h|[0-9]+)\b/i, token: 'number'}   //NB
            ],


            meta: {
                lineComment: ";"
            }

        });

      
  </script>
   
    
</body>
</html>